{% extends "base.html" %}
{% block contents %}
    <form action="{% url 'write' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">제목: </label><br>
        <input type="text" id="title" name="title" style="width:550px" placeholder="제목을 입력하세요!">
        <br><p>
        <label for="body">본문: </label><br>
        <textarea cols=80 rows=10 id="body" name="body" placeholder="내용을 입력하세요!"></textarea>
        <br>
        <input type="submit" value="제출하기" style="position:absolute; left: 260px;">
    </form>
{% endblock %}